.overallconatainer{
<<<<<<< Updated upstream
    margin:50px
}
=======
    margin:50px 
}

.headingpayment{
color: #000;
font-size: 30px;
font-weight: 600;
/* font-family: Inter; */
}

.subheadingpayment{
    color: #000;
    font-size: 20px;
    font-weight: 600;
    /* font-family: Inter; */
    
    }
.buttonconatiner{
    display:flex;
    justify-content:space-between;
    align-items:center
}
.nextbutton{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    margin:10px 0px
    /* background-color: #000; */
}
.nextinbetwenbutton{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:10px 0px
}
.approvedbutton{
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
    margin:10px 0px
}
.headlabel{
    color: #000;

font-size: 20px !important;

font-weight: 600 !important;

}
.approvedlayout{
    border-Radius:40px !important;
    color: #fff !important;
    font-Size:12px !important;
    font-weight:500 !important;
    background-color: #6366F1 !important;
    border-style: dashed !important;
      margin:12px 0px !important;  
    
    margin-left: 10px !important;
   
}
.submitbutton{
    display:flex;
    justify-content:flex-end;
    /* align-items:flex-end; */
    margin:10px 0px
}
.detailsbutton{
  display:flex;
    justify-content:center;
    align-items:center; 
    margin:10px 0px
}
.buttonlayout{
    border-Radius:40px !important;
    color: #fff !important;
    font-Size:14px !important;
    font-weight:500 !important;
    background-color: #6366F1 !important;
    border-style: dashed !important;
    margin:12px 0px !important;
    width:121px;
    margin-left: 10px !important;
}
.cancellayout{
    border-Radius:40px !important;
    color: #6366F1 !important;
    font-Size:12px !important;
    font-weight:500 !important;
    background-color: #fff;
    border-radius: 1px;
    border-style: solid !important;
    width:121px;
    
    margin:12px 0px !important;
}
/* .css-ptkaw2-MuiDataGrid-root .MuiDataGrid-withBorderColor {
    border-color: white;
}
.css-ptkaw2-MuiDataGrid-root {
    border-color: white;
} */

.voucherstyle {
    /* padding: 50px; */
  }
  .vouchertitle {
    color: #000;
    /* font-family: Inter; */
    font-size: 30px;
    /* font-style: normal; */
    font-weight: 600;
  }
  .icon {
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    gap: 20px
  }
  .svgicondiv {
    align-items: center;
    display: flex;
    justify-content: center;
  
  }
  .approveltextmodel{
    color: #6366F1;
  }
  .modalTitle {
    color: #343434;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin: 10px 0px
  }
  .modalGridColumn {
    display: flex;
    align-items: center;
  }
  .modalOuterContainerDiv {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    height: 80%;
    width: 30%;
    display: grid;
    gap: 20px;
    overflow-y: scroll;
  }
  .modalTitles {
    font-size: 16px;
    /* text-wrap: nowrap; */
  }
  
  .create {
    background-color: #6366f1;
    border-radius: 60px;
    width: 170px !important;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .createicon {
    margin-right: 10px;
  }
  .createtext {
    color: #ffffff;
  }
  .tabs {
    margin-bottom: 30px;
    color: #6366f1;
  }
  
  .policytext {
    font-size: 16px;
    font-weight: 500;
  }
  .breadcrumbss {
    font-family: Inter;
    font-size: 30px;
    font-weight: 500;
    /* padding-bottom: 20px; */
  }
  .columnHeaderTitles {
    color: #000 !important;
    font-weight: 400 !important;
    font-size: 16px !important;
  }
  .search {
    width: 80% !important;
    border-color: #0000001a;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px 0px;
  }
  .approvelmodel{
    text-align: center;
    margin: 10px 0px !important;
  }
  .modletextfield{
    display: flex;
    justify-content: space-between;
    align-items: center;
/* margin:16px 0px; */
padding: 6px;
  }
  .contentcontainer{
    padding: 0px !important;
  }
  .headtextfield{
    font-size: 20px !important;
    font-weight: 600 !important;
   
    color: #000 !important;

margin-left: -8px !important;
    margin-bottom: 30px !important;
  }
  .datatablecontainer{
    background-color: red;
    width:100%
  }

  /* .instrumentmodel{ */
    /* display: flex; */
  /* } */
  @media only screen and (max-width: 320px) {
    .icon {
      align-items: flex-end;
      justify-content: flex-end;
      display: flex;
      
      /* background-color: red; */
       margin-top: -26px; 
       margin-bottom: 42px;
    }
    .vouchertitle {
      color: #000;
      /* font-family: Inter; */
      font-size: 14px;
      /* font-style: normal; */
      font-weight: 600;
      width: 105px;
    }
    .svgicondiv {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-left: 40px;
      /* width: 30px; */
      height: 30px;
    }
  
    .add {
      background-color: #6366f1;
      border-radius: 60px;
      width: 6px !important;
      height: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5px;
      
    }
    .filter {
     width:30px !important;
     height: 30px !important;
     margin-right: 2px;
    }
    .addicon {
      margin-right: 10px;
      
    }
    .addtext {
      color: #ffffff;
      /* margin-right: 10px !important; */
    }
    .create {
      background-color: #6366f1;
      border-radius: 60px;
      width: 130px !important;
      height: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 12px;
      margin-left: 12px;
    }
    .createicon {
      /* margin-right: 10px; */
    }
    .createtext {
      color: #ffffff;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 600px) {
    .modalOuterContainerDiv {
      background: #fff;
      border-radius: 10px;
    
      width: 98%;
      display: grid;
      gap: 20px;
      overflow-y: scroll;
    
    }
    .modalTitles {
      font-size: 12px;
      /* text-wrap: nowrap; */
    }
    .modalGridColumn {
      display: flex;
      align-items: center;
     
    }
  }

>>>>>>> Stashed changes
