.modal__container {
  .modal__title {
    color: #111927;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.input__filed.p-dropdown.p-component.p-inputwrapper {
  width: 100% !important;
}
.p-inputtext.p-component.input__filed {
    width: 100% !important;
  }
