.buttonlayout{
    border-Radius:40px !important;
    color: #fff !important;
    font-Size:16px !important;
    font-weight:500 !important;
    background-color: #6366F1 !important;
    border-style: dashed !important;
    margin:12px 0px !important;
    width:121px;
    margin-left: 10px !important;
}
.cancellayout{
    border-Radius:40px !important;
    color: #6366F1 !important;
    font-Size:16px !important;
    font-weight:500 !important;
    background-color: #fff;
    border-radius: 1px;
    border-style: solid !important;
    width:121px;
   
    margin:12px 0px !important;
}