.container__correction {
    // justify-content: center;
    max-width: 100% !important;

    .correction__title {
        color: #111927;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-family: 'Inter var';
        margin-bottom: 10px;
    }

    .breadCrums__view {
        padding: 0;
        border: none;
    }

    .p-breadcrumb .p-breadcrumb-list li .p-menuitem-link .p-menuitem-text {
        // color: #4b5563;
        color: #000;
        font-size: 14px;
        font-weight: 500;
        font-family: 'Inter var';
    }

    .input__filed {
        width: 100%;
        margin: 12px 0;
        border-radius: 10px;
        font-family: 'Inter var';
    }

    .input__label {
        color: #111927;
        font-size: 16px;
        font-weight: 500;
        // margin: 12px 0;
        font-family: 'Inter var';
    }

    .button__view__corrections {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .correction__btn {
            color: #FFF;
            font-size: 18px;
            font-weight: 500;
            background-color: #6366F1;
            border-radius: 30px;
            height: 45px;
            width: 153px;
            margin: 10px;
            font-family: 'Inter var';
        }
    
        .correction__print__btn{
            color:#6366F1;
            font-size: 18px;
            font-weight: 500;
            background-color: transparent;
            border-radius: 30px;
            height: 45px;
            width: 153px;
            font-family: 'Inter var';
            margin: 10px;
        }
    }

    .table__view {
        width: 100%;
    }

    .tabel__dropdown {
        max-width: 100% !important;
        border: none !important;
        padding: 0;
        margin: 0;
        font-size: 10px !important;
        font-family: 'Inter var';

    }

    .p-datatable .p-datatable-tbody>tr>td {
        text-align: left;
        border: 1px solid #e5e7eb;
        border-width: 0 0 1px 0;
        padding: 0.6rem;
    }

    .policy__text {
        color: #000;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 10px;
        font-family: 'Inter var';
    }

    .edit__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }

    .buttons__edit {
        width: 121px;
        height: 40px;
        flex-shrink: 0;
        color: #FFF !important;
        // font-family: Inter;
        font-size: 20px;
        font-family: 'Inter var';
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        background-color: #6366F1 !important;
        display: flex;
        justify-content: center !important;
        align-items: center;
        border-radius: 30px !important;
        opacity: 0.5;
    }

    .exit__text {}

    .custom-modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        z-index: 1;
    }

    .custom-modal {
        background-color: #fff;
        border-radius: 20px;
        padding: 10px 10px;
        position: relative;
        display: grid;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
    }

    .modal-header {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
        font-family: 'Inter var';
    }

    .modal-body {
        color: #fff;
    }

    .input__view {
        padding-top: 0;
        padding-bottom: 0;
    }
    .p-datatable .p-datatable-tbody>tr>td {
        text-align: left;
        border: 1px solid #e5e7eb;
        border-width: 0 0 1px 0;
        padding: 1rem 0.6rem;
    }


    .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
        background: transparent;
        border-color: transparent;
        color: #111927;
    }

    .save__btn__view {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        .save__button {
            height: 40px !important;
            width: 153px !important;
            border-radius: 30px;
            font-size: 14px;
            font-weight: 500;
            background-color: #6366F1 !important;
        }
    }

   



    .input__view .col-12 {
        width: 100% !important;

    }

}

@media screen and (min-width: 320px) {
    .paginator__view {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dropdown__tabel__data {
        width: 100% !important;
    }

    .dialog__view {
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
        max-height: 90%;
    }
}

@media screen and (min-width: 767px) {
    .paginator__view {
        display: flex;
        justify-content: flex-end;
        align-items: end;
    }

    .dropdown__tabel__data {
        width: 100% !important;
    }

    .popup__body {
        width: 100%;
        display: flex;
        justify-content: space-between !important;
        align-items: center;
    }

    .dialog__view {
        width: 50vw;
        display: grid;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
        max-height: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .input__view.lg-col-2-5 {
        width: 22%;
    }

    .dialog__view {
        width: 30vw;
        display: grid;
        justify-content: center;
        align-items: center;
        overflow-y: hidden;
        max-height: 100%;
    }

    .dropdown__tabel__data {
        width: 100% !important;
    }

}