.navbar__container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 12px;
    gap: 20px;
    .navbar__container__profile__image{
        border-radius: 100%;
    }
    .navbar__container__profile__image__container{
        border-radius: 100%;
    }
    .p-button {
        color: #000;
        background: #ffffff;
        border: 1px solid #ffffff;
        padding: 0.75rem 1.25rem;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
        border-radius: 6px;
    }
    .notification__title{
        font-size: 24px;
        font-weight: 500;
        font-family: Poppins;
        line-height: 36px;
        color: #111927;  
    }
    .close__container{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
}