.operationalreports__overall{
    .fromdate__field__container{
        // width:0px !important
    }
    .labelheader__container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .labeldropdown__container{
        width:100%
    }
    .gridheader__container{
        display: grid;
    }
}