.overall__upcoming__event__container{
    .notificaition__container__titles {
        font-size: 34px;
        font-weight: 600;
        font-family: Poppins;
        line-height: 51px;
        color: #111927;
      }
      .notificaition__container__back__btn {
        display: flex;
        align-items: center;
        gap: 10px;
        .notificaition__container__back__btn__title {
          font-size: 16px;
          font-weight: 400;
          font-family: Poppins;
          line-height: 24px;
          color: #111927;
        }
      }
      .notificaition__title{
        color: #111927;

font-family: Poppins;
font-size: 14px;
font-weight: 500;
      }
      .p-card {
        background: #ffffff;
        color: #4b5563;
        box-shadow: none !important;
        fill: none !important;
        filter: none !important;
        margin-top: 10px;
        border-radius: 10px;
        border: 1px solid #E5E7EB;
    }
    .notificaition__dots{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .notificaition__sub__title{
        color: #6C737F;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
    }
    .delete__icon{
        justify-content:space-between;
        display:flex
        
    }
    .today__text{
        color: #111927;

font-family: Poppins;
font-size: 16px;
font-weight: 400;
    }
    .yesterday__text{
        color: #6C737F;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
    }
    .notificaition__title__sub{
        color: #6C737F;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 500;
    }
    .notificaition__title__sub__1{
        font-size: 12px;
        font-weight: 500;
        font-family: Poppins;
        line-height: 18px;
        color: #6C737F;
    }
}