.container__header {
    display: grid;
    justify-content: center;
    /* align-items: center; */
    background-color: #192131 !important;
    /* width: 555px !important; */
    height: 100vh !important;
    background-color: #192131;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.side__logo {
    display: flex;
    /* justify-content: center; */
    align-items: center;

}

.logo__cover___white {
    color: #FFF;
    font-family: Inter;
    font-size: 30px !important;
    /* font-style: normal; */
    font-weight: 300;
    /* line-height: normal; */

}

.welcome__text {
    color: #FFF;
    font-family: Inter;
    font-size: 35px !important;
    /* font-style: normal; */
    font-weight: 700 !important;
    /* line-height: normal; */
    margin-right: 5px !important;
}

.welcome__content {
    color: #B1B1B1;
    font-family: Inter;
    font-size: 16px;
    /* font-style: normal; */
    font-weight: 400;

}

.login__text {
    color: #111927;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.dont__have__account {
    color: #B1B1B1;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.regiater__view {
    color: #6366F1;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.logo__cover {
    font-size: 29.223px;
    text-align: center
}

.login__btn {
    width: 100% !important;
    height: 48px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #6366F1;
    border: none !important;
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text__field {
    border-radius: 10px !important;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    width: 100%;
    height: 53px;
    flex-shrink: 0;
}

.forget__text {
    color: #6366F1;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}