.overall__policyreceipts__container {
 
  .label_header {
    color: #111927;
    font-family: Inter var;
    font-size: 30px;
    font-weight: 600;
  }
  .p-paginator {
    display: flex;
    align-items: center;
    justify-content: flex-end !important;
    flex-wrap: wrap;
  }
  .datatable_container {
    height: 100%;
    width: 100%;
  }

  .addtext {
    color: #fff;

    font-family: Inter var;
    font-size: 18px;
    font-weight: 500;
  }
  .dropdown__container {
    width: 100%;
    height: 44px;
    border-radius: 11px;
    overflow: hidden;
    text-wrap: nowrap;
    margin: 10px 0px;
  }

  .breadcrumbs_container {
    font-size: 16px;
    font-weight: 500;
    font-family: Inter var;
    border: 1px solid #fff !important;
    border-radius: 6px !important;
    padding: 1rem 0rem !important;
  }
  .addbutton_container {
    background-color: #6366f1;
    border-radius: 60px;
    // width: 100px !important;
    height: 38px;
    gap:10px;
    display: flex;
    padding: 0px 25px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
  }
  .listlable_textcontainer {
    margin: 20px 0px;
  }
  .listlable_text {
    color: #111927;
    margin-bottom: 40px;
    font-family: Inter var;
    font-size: 18px;
    font-weight: 600;
  }
  .p-breadcrumb .p-breadcrumb-list li:last-child .p-menuitem-text {
    color: #B1B1B1;
}
  .filterbutton_container {
    display: flex;
    align-items: center;
    margin: 16px 0px;
    gap: 20px;
   
  }
  // .addicon{
  //   gap:30px;
  //   background-color: red;
  //   padding-left: 30px;
  // }
  .overallfilter_container {
    display: flex;
    align-items: self-start;
    justify-content: space-between;
  }
  .overallcard_container {
    width: 1236px;
    height: 700px;
  }
  .searchinput_left {
    width: 100%;
    border-radius: 8px;
  }
  .searchiput_container {
    width: 100%;
    margin-bottom: 20px;
  }
  // .sorbyfilter_container {
  //   flex-direction: row-reverse;
  //   padding: 0px 10px;
  //   width: 100%;
  //   height: 46px;
  //   border-color: #d1d5db;
  // }
  .pagedropdown_container {
    margin-right: 30%;
    border-style: hidden;
    background-color: #fafafa;
  }
  .p-dropdown .p-dropdown-label.p-placeholder {
    color: #6366F1;
    text-align: center;
}
.sorbyfilter_container{
  // flex-direction: row-reverse;
  // gap:10px;
  height: 46px;
  border-color: #d1d5db;
  // width: 85%;
  // margin-left: 8px;
  font-family: Inter var;
font-size: 16px;
// padding: 10px;
font-weight: 500;
  width:100%;
  color: #6366F1;
  margin: 0px !important;
}
  .header_search_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  
  }
  .p-card .p-card-content {
     padding:0; 
}
  .fieldvalue_container {
    font-size: 16px;
    font-family: Inter var;
    font-weight: 400;
  
  }
  .fieldvalue_containers {
    font-size: 16px;
    font-family: Inter var;
    font-weight: 400;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    border: 1px solid #e5e7eb;
    border-width: 0 0 1px 0;
    padding: 1rem 0rem;
  }
}
