.modal__dialog__container {
  overflow: hidden;
  border-radius: 20px;
  .share__option_caption {
    color: #111927;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }
  .common__div {
    display: flex;
    justify-content: center;
  }
  .p-dialog-header {
    padding: 24px 24px 0 24px !important ;
  }
  .p-dialog-title {
    color: #111927;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .p-dialog-header-icon {
    margin: 0 !important;
    svg {
      color: #000000 !important;
    }
  }
  .p-dialog-content {
    padding: 24px !important;
  }
  .submit__container {
    margin-top: 24px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 26px;
    padding: 6px 5px 6px 8px;
    .p-button {
      border-radius: 6px !important;
      background: #6366f1 !important;
      color: #fff;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 8px 16px !important;
    }
  }
}
