// @import "../../Color.scss";
// .dropdown__component__container {
//   display: grid;
//     .p-dropdown {
//       // height: 32px;
//     }
//     .p-inputtext {
//       font-size: 14px;
//       text-align: start;
//     }
//     .label {
//       display: block;
//       font-size: 14px;
//       font-weight: 500;
//       color: $grey;
//       margin-bottom: 8px;
//     }
//   }

//   .required__label {
//     color: $red;
//     margin-left: 4px;
//   }
//   .formik__error {
//     color: $red;
//     font-size: 10px;
//     display: flex;
//     justify-content: flex-start;
//     margin-left: 12px;
//     margin-top: 5px;
//   }
.formik__error {
  color: red;
  font-size: 10px;
  display: flex;
  justify-content: flex-start;
  margin-left: 12px;
  margin-top: 5px;
}
.p-dropdown {
  background: #ffffff;
  border: 1px solid #d1d5db;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
  margin-top: 0.5rem !important;
}